.container {
  width: 100%;
  max-width: 91%;
  padding: 0px 15px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/NotoSans-Regular.ttf');
}
body {
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
}

a.router-link-exact-active {
  color: #e5322d;
} 