.head {
   position: sticky;
   top: 0;
   z-index: 9999;
}
.head .navbar {
   display: flex;
   align-items: center;
   justify-content: space-around;
   box-shadow: -1px 3px 5px 0px rgba(205, 205, 205, 0.75);
   -webkit-box-shadow: -1px 3px 5px 0px rgba(200, 200, 200, 0.75);
   -moz-box-shadow: -1px 3px 5px 0px rgba(204, 204, 204, 0.75);
   background: white;
   height: 50px;
   
}

.head .navbar .menu .convert-a {
   font-size: 13px;
   text-transform: uppercase;
}
.head .navbar .menu .convert-a:hover {
   color: #e5322d;
}
.logo {
   cursor: pointer;
}

.logo img {
   width: auto;
   height: 30px;
}

.head .navbar .menu {
   display: flex;
   align-items: center;
   gap: 30px;
   justify-content: center;
}

.head .navbar .menu .convert {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.head .navbar .menu .all-instruments {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.head .navbar .menu .all-instruments .organization {
   display: flex;
   gap: 7px;
   flex-direction: column;
}
.head .navbar .menu .all-instruments .optimization {
   display: flex;
   gap: 7px;
   flex-direction: column;
}

.head .navbar .menu .all-instruments .edit {
   display: flex;
   gap: 7px;
   flex-direction: column;
}
.head .navbar .menu .all-instruments .protection {
   display: flex;
   flex-direction: column;
   gap: 7px;
}



.head .navbar .menu .all-instruments .all-menu .title-text {
   color: #707078;
   font-size: 13px;
}

.head .navbar .menu .all-instruments .all-menu a {
   display: flex;
   align-items: center;
   gap: 4px;
}

.head .navbar .menu .all-instruments .all-menu a img {
   width: 30px;
   height: 30px;
}

.head .navbar .menu .all-instruments .all-menu a:hover {
   color: #e5322d;
}


.head .navbar .menu .all-instruments .all-menu p {
   font-size: 11px;  
   font-weight: 600;
}

.head .navbar .menu .convert-link {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   font-size: 13px;
   padding-top: 9px;
   padding-bottom: 10px;
}

.head .navbar .menu .convert-link i {
   font-size: 10px;
}

.head .navbar .menu .convert-link:hover {
   color: #e5322d;
}
.head .navbar .menu .converter-menu {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   position: absolute;
   margin-top: 35px;
   gap: 20px;
   width: 530px;
   height: 320px;
   box-shadow: 3px 2px 18px 4px rgba(191, 191, 191, 0.75);
   -webkit-box-shadow: 3px 2px 18px 4px rgba(194, 194, 194, 0.75);
   -moz-box-shadow: 3px 2px 18px 4px rgba(194, 194, 194, 0.75);
   padding-top: 20px;
   background: white;
   border-radius: 10px;
}
.head .navbar .menu .all-instruments .all-menu {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   position: absolute;
   margin-top: 40px;
   gap: 20px;
   width: 91%;
   position: absolute;
   left: 50px;
   height: 320px;
   box-shadow: 3px 2px 18px 4px rgba(191, 191, 191, 0.75);
   -webkit-box-shadow: 3px 2px 18px 4px rgba(194, 194, 194, 0.75);
   -moz-box-shadow: 3px 2px 18px 4px rgba(194, 194, 194, 0.75);
   padding-top: 20px;
   background: white;
   border-radius: 10px;
}


.head .navbar .menu .converter-menu .arrow-up {
   width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  /* bottom: 55px; */
  left: 240px;
  top: -8px;
  border-bottom: 8px solid #ffffff;
}
.head .navbar .menu .all-instruments .all-menu .arrow-up {
   width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  /* bottom: 55px; */
  left: 880px;
  top: -8px;
  border-bottom: 8px solid #ffffff;
}

.head .navbar .actions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.head .navbar .actions .menu-navigation {
   display: flex;
   flex-direction: column;
}

.head .navbar .actions .menu-navigation #bars {
   /* width: 40px; */
   height: 42px;
   position: relative;
   top: 13px;  
   /* padding: 15px 0px; */
}

.head .navbar .actions .menu-navigation .navigation {
   position: absolute;
   top: 45px;
   right: 53px;
   display: flex;
   align-items: flex-start;
   padding-left: 12px;
   padding-right: 8px;
   justify-content: flex-start;
   flex-direction: column;
   width: 200px;
   border-radius: 10px;
   background: rgb(255, 255, 255);
   transform: translateY(10%);
   transition: 0.4s;
   height: 0px;
   overflow: hidden;
}  

.head .navbar .actions .menu-navigation .navigation.active {
   transform: translateY(0%);
   height: auto;
}

.head .navbar .actions .menu-navigation .navigation i {
   font-size: 15px;  
}


.head .navbar .actions .menu-navigation .navigation p {
   font-size: 12px;
}

.head .navbar .actions .menu-navigation .navigation div {
   padding: 5px 10px;
   width: 90%;
   height: 35px;
   border-radius: 5px;
}

.head .navbar .actions .menu-navigation .navigation a:hover,
.head .navbar .actions .menu-navigation .navigation div:hover
{
   transition: 0.3s;
   color: #e5322d;
   background: #f5f5fa;
}
.head .navbar .actions .menu-navigation .navigation a {
   width: 90%;
   height: 35px;
   border-radius: 5px;
}
.head .navbar .actions .menu-navigation .navigation .home a {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   font-size: 12px;
   height: 35px;
}
.head .navbar .actions .menu-navigation .navigation .products {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.head .navbar .actions .menu-navigation .navigation .solutions {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.head .navbar .actions .menu-navigation .navigation .definition a {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;  
}

.head .navbar .actions .menu-navigation .navigation .language {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.head .navbar .actions .menu-navigation .navigation .question {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

.head .navbar .actions .menu-navigation .navigation .iloveimg {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   padding: 5px 10px;
   font-size: 12px;
}

.head .navbar .actions .menu-navigation .navigation .iloveimg i {
   color: rgb(82, 145, 255);
}

.head .navbar .actions i {
   font-size: 20px;
}

.head .navbar .actions .onHover {
   position: absolute;
   top: 55px;
   text-align: center;
   right: 160px;
   width: 300px;
   padding: 10px 15px;
   font-size: 10px;
   background: rgb(61, 61, 61);
   color: #fff;
   border-radius: 7px;
}

.head .navbar .actions .onHover .arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  bottom: 47px;
  left: 138px;
  border-bottom: 7px solid black;

}
.head .navbar .actions a {
   font-size: 13px;
}
.head .navbar .actions .desk-btn {
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
}
.head .navbar .actions .login:hover {
   color: #e5322d ;
}

.head .navbar .actions .register {
   padding: 7px 18px;
   background: #e5322d;
   color: #fff;
   font-weight: 600;
   border-radius: 8px;
}


.head .navbar .actions .register:hover {
   background: rgb(191, 39, 39);
}

.head .navbar .actions .menu-product {
   position: absolute;
   right: 280px;
   top: 20px;
   background: white;
   border-radius: 10px;
   transform: translateY(10%);
   transition: 0.4s;
   height: 0px;
   overflow: hidden;
}

.head .navbar .actions .menu-product.active {
   transform: translateY(0%);
   height: auto;
}


.head .navbar .actions .menu-product a {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 7px;
   padding: 5px 14px;
}

.head .navbar .actions .menu-product a:hover , .head .navbar .actions .menu-solutions a:hover {
   background: #f5f5fa;
   color: #e5322d;
   border-radius: 6px;
   transition: 0.3s;
}
.head .navbar .actions .menu-product a p {
   font-weight: 500;
   font-size: 12px;
}

.head .navbar .actions .menu-product a i {
   font-size: 14px;
}

.head .navbar .actions .menu-solutions {
   position: absolute;
   top: 115px;
   right: 280px;
   display: flex;
   justify-content: flex-start;
   border-radius: 7px;
   flex-direction: column;
   background: white;
}

.head .navbar .actions .menu-solutions a {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 5px 24px;
   gap: 10px;
}

.head .navbar .actions .menu-solutions a i {
   font-size: 14px;
}

.head .navbar .actions .menu-language {
   position: absolute;
   top: 50px;
   right: 220px;
}



a {
   color: black;
   text-decoration: none;
}

a.router-link-exact-active {
   color: #e5322d;
}